@model IEnumerable<Labb_2___Linq.Models.SchoolClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Class List</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">New Class</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SchoolClassId" class="btn btn-info">Edit</a>                  
                    <a asp-action="Delete" asp-route-id="@item.SchoolClassId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
